{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>

.row {
  display: flex;
}

img {
    object-fit: contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0px 40px;
}

</style>
</head>
<body>

<h1>Endoplasmic Reticulum (ER)</h1>

<div class="row">
  <div class="column">
    <img src = "{% static 'ERdiagram.png' %}" width = 500 height = 400 class = 'center' />
  </div>
  <div class="column">
    <h2>Functions:</h2>
    <p>
        The rough ER is distinguished from the smooth ER based on the presence of ribosomes on the surface, giving a "rough" texture. The 
        rough ER is responsible for the folding and transport of various proteins to the golgi apparatus while the smooth ER is involved
        in toxin breakdown along with lipid manufacture and metabolisation.
    </p>
    <br></br>
    <p>
      <u><center><a href="javascript:history.back()">return home</a></center></u>
    </p>
  </div>
</div>

</body>
</html>