{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>

.row {
  display: flex;
}

img {
    object-fit: contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0px 40px;
}

</style>
</head>
<body>

<h1>Ribosomes</h1>

<div class="row">
  <div class="column">
    <img src = "{% static 'ribosomediagram.jpg' %}" width = 500 height = 400 class = 'center' />
  </div>
  <div class="column">
    <h2>Functions:</h2>
    <p>
        Ribosomes can be found both attached to the rough endoplasmic reticulum and freely floating in the cytoplasm. They are involved
        in protein synthesis, where they create proteins by translating the genetic code transcribed by mRNA (RNA in mitochondria)
        into a sequence of amino acids.
    </p>
    <br></br>
    <p>
      <u><center><a href="javascript:history.back()">return home</a></center></u>
    </p>
  </div>
</div>

</body>
</html>